<footer class="page-footer font-small unique-orange-color">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-2 mx-auto">
        <h5 class="font-weight-bold mt-3 mb-4"></h5>

        <ul class="list-unstyled">
          <li>
            <a href="">About Us</a>
          </li>
          <li>
            <a href="">Our Services</a>
          </li>
          <li>
            <a href="">Careers</a>
          </li>
          <li>
            <a href="">Contact Us</a>
          </li>
        </ul>
      </div>

      <hr class="clearfix footer-w-100 d-md-none" />

      <div class="col-md-2 mx-auto">
        <h5 class="font-weight-bold mt-3 mb-4"></h5>

        <ul class="list-unstyled">
          <li>
            <a href="">Our Developers</a>
          </li>
          <li>
            <a href="">Node.js</a>
          </li>
          <li>
            <a href="">Java</a>
          </li>
          <li>
            <a href="">Golang</a>
          </li>
          <li>
            <a href="">AWS</a>
          </li>
          <li>
            <a href="">React</a>
          </li>
          <li>
            <a href="">Angular</a>
          </li>
          <li>
            <a href="">iOS</a>
          </li>
          <li>
            <a href="">Android</a>
          </li>
          <li>
            <a href="">React Native</a>
          </li>
          <li>
            <a href="">NativeScript</a>
          </li>
        </ul>
      </div>

      <hr class="clearfix footer-w-100 d-md-none" />

      <div class="col-md-2 mx-auto">
        <h5 class="font-weight-bold mt-3 mb-4"></h5>

        <ul class="list-unstyled">
          <li>
            <a href="">Services Offered</a>
          </li>
          <li>
            <a href="">UI/UX Consulting</a>
          </li>
          <li>
            <a href="">UI Development</a>
          </li>
          <li>
            <a href="">AWS Development</a>
          </li>
          <li>
            <a href="">Mobile Development</a>
          </li>
        </ul>
      </div>

      <hr class="clearfix footer-w-100 d-md-none" />

      <div class="col-md-2 mx-auto">
        <h5 class="font-weight-bold mt-3 mb-4"></h5>

        <ul class="list-unstyled">
          <li>
            <a href="">Blogs</a>
          </li>
          <li>
            <a href="">Whats New</a>
          </li>
          <li>
            <a href="">Training and Certification</a>
          </li>
          <li>
            <a href="">Architecture Center</a>
          </li>
          <li>
            <a href="">Product and Technical FAQs</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 mx-auto">
        <h5 class="font-weight-bold mt-3 mb-4"></h5>

        <ul class="list-unstyled">
          <li>
            <a href="">Developer Resources</a>
          </li>
          <li>
            <a href="">Free Source Code</a>
          </li>
          <li>
            <a href="">Document Center</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 mx-auto">
        <h5 class="font-weight-bold mt-3 mb-4"></h5>

        <ul class="list-unstyled">
          <li>
            <a href="">Legal Terms</a>
          </li>
          <li>
            <a href="">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center py-3">Privacy | Site Terms |
      <a href="https://mdbootstrap.com/"> © 2020, Amazon Web Services, Inc. or its affiliates. All rights reserved.</a>
    </div>
</footer>
