<!-- Footer -->
<footer class="page-footer font-small unique-orange-color">

    <!-- Footer Links -->
    <div class="container text-center text-md-left" style="margin-bottom: 278px;">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold mt-3 mb-4">Learn about Mobile and IoT</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="">What is mobile IoT?</a>
            </li>
            <li>
              <a href="">How it works?</a>
            </li>
            <li>
              <a href="">How do I collect data from IoT devices?</a>
            </li>
            <li>
              <a href="">What is the application of IoT?</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix footer-w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold mt-3 mb-4">Learn about AWS Cloud</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="">How do I learn AWS cloud?</a>
            </li>
            <li>
              <a href="">What is AWS and how do you learn it?</a>
            </li>
            <li>
              <a href="">How does AWS cloud work?</a>
            </li>
            <li>
              <a href="">How can I learn AWS at home?</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix footer-w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold mt-3 mb-4">Learn about Angular</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="">What is the best way to learn angular?</a>
            </li>
            <li>
              <a href="">Is angular easy to learn?</a>
            </li>
            <li>
              <a href="">Is angular worth learning 2020?</a>
            </li>
            <li>
              <a href="">What is required to learn angular?</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix footer-w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold mt-3 mb-4">Learn about Node JS</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="">How do I start learning node JS?</a>
            </li>
            <li>
              <a href="">Is NodeJs easy to learn?</a>
            </li>
            <li>
              <a href="">What should I learn in node JS?</a>
            </li>
            <li>
              <a href="">Is node JS frontend or backend?</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <!-- <div class="footer-copyright text-center py-3">Privacy | Site Terms |
      <a href="https://mdbootstrap.com/"> © 2020, Amazon Web Services, Inc. or its affiliates. All rights reserved.</a>
    </div> -->
    <div class="footer-copyright-bx text-center py-3">
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->  
          <ul class="list-unstyled">
            <li>
              <a href="">About Us</a>
            </li>
            <li>
              <a href="">Our Services</a>
            </li>
            <li>
              <a href="">Careers</a>
            </li>
            <li>
              <a href="">Contact Us</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix footer-w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->  
          <ul class="list-unstyled">
            <li>
              <a href="">Our Developers</a>
            </li>
            <li>
              <a href="">Node.js</a>
            </li>
            <li>
              <a href="">Java</a>
            </li>
            <li>
              <a href="">Golang</a>
            </li>            
            <li>
              <a href="">AWS</a>
            </li>            
            <li>
              <a href="">React</a>
            </li>            
            <li>
              <a href="">Angular</a>
            </li>            
            <li>
              <a href="">iOS</a>
            </li>            
            <li>
              <a href="">Android</a>
            </li>            
            <li>
              <a href="">React Native</a>
            </li>            
            <li>
              <a href="">NativeScript</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix footer-w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->  
          <ul class="list-unstyled">
            <li>
              <a href="">Services Offered</a>
            </li>
            <li>
              <a href="">UI/UX Consulting</a>
            </li>
            <li>
              <a href="">UI Development</a>
            </li>
            <li>
              <a href="">AWS Development</a>
            </li>
            <li>
              <a href="">Mobile Development</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix footer-w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->  
          <ul class="list-unstyled">
            <li>
              <a href="">Blogs</a>
            </li>
            <li>
              <a href="">Whats New</a>
            </li>
            <li>
              <a href="">Training and Certification</a>
            </li>
            <li>
              <a href="">Architecture Center</a>
            </li>
            <li>
              <a href="">Product and Technical FAQs</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->

        <hr class="clearfix footer-w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->  
          <ul class="list-unstyled">
            <li>
              <a href="">Developer Resources</a>
            </li>
            <li>
              <a href="">Free Source Code</a>
            </li>
            <li>
              <a href="">Document Center</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->

        <hr class="clearfix footer-w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->  
          <ul class="list-unstyled">
            <li>
              <a href="">Legal Terms</a>
            </li>
            <li>
              <a href="">Privacy Policy</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
    </div>
        <!-- <a href="" class="footer-title-bx">Privacy</a> | <a href="" class="footer-title-bx">Site Terms</a> |
        <span> © {{currentYear}}, Angular Orange or its affiliates. All rights reserved.</span> -->
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
  