<!-- Footer -->
<footer class="page-footer font-small unique-orange-color">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold mt-3 mb-4">Learn about Mobile and IoT</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="">What is mobile IoT?</a>
            </li>
            <li>
              <a href="">How it works?</a>
            </li>
            <li>
              <a href="">How do I collect data from IoT devices?</a>
            </li>
            <li>
              <a href="">What is the application of IoT?</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix footer-w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold mt-3 mb-4">Learn about AWS Cloud</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="">How do I learn AWS cloud?</a>
            </li>
            <li>
              <a href="">What is AWS and how do you learn it?</a>
            </li>
            <li>
              <a href="">How does AWS cloud work?</a>
            </li>
            <li>
              <a href="">How can I learn AWS at home?</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix footer-w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold mt-3 mb-4">Learn about Angular</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="">What is the best way to learn angular?</a>
            </li>
            <li>
              <a href="">Is angular easy to learn?</a>
            </li>
            <li>
              <a href="">Is angular worth learning 2020?</a>
            </li>
            <li>
              <a href="">What is required to learn angular?</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix footer-w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold mt-3 mb-4">Learn about Node JS</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="">How do I start learning node JS?</a>
            </li>
            <li>
              <a href="">Is NodeJs easy to learn?</a>
            </li>
            <li>
              <a href="">What should I learn in node JS?</a>
            </li>
            <li>
              <a href="">Is node JS frontend or backend?</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <!-- <div class="footer-copyright text-center py-3">Privacy | Site Terms |
      <a href="https://mdbootstrap.com/"> © 2020, Amazon Web Services, Inc. or its affiliates. All rights reserved.</a>
    </div> -->
    <div class="footer-copyright-bx text-center py-3">
        <a href="" class="footer-title-bx">Privacy</a> | <a href="" class="footer-title-bx">Site Terms</a> |
        <span> © {{currentYear}}, Angular Orange or its affiliates. All rights reserved.</span>
      </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
  