.cards-content-bx {
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    text-align: left;
    border-radius: 6px;
}

.card-new {
    border-radius: 6px;
}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {
    margin: 2% 10%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .card-title {
      font-size: 1rem;
      font-weight: 500;
      text-align: center;
  }

  .card-text {
    font-size: 14px;
    font-weight: 400;
  }

  .card-img-top {
    position: relative;
    display: block;
    width: auto;
    height: auto;
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    /* width: 50%; */
    /* text-align: center; */
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }