<!-- <header></header> -->
<div class="paragraph-desc-bx">
    <h3>Elective and required courses</h3>
        <p>An elective course is one chosen by a student from a number of optional subjects or courses in a curriculum, as
        opposed to a required course which the student must take. While required courses (sometimes called "core
        courses" or "general education courses") are deemed essential for an academic degree, elective courses tend to
        be more specialized. Elective courses usually have fewer students than the required courses.</p>

        <p>The term elective is also used for a period of medical study conducted away from the student's home medical
        school, often abroad. Motivations for choosing such a program include a wish to experience other cultures and to
        learn how to work in the clinical situations in other countries.</p>

        <p>Typically, North American universities require students to achieve both breadth of knowledge across disciplines
        and depth of knowledge in a particular chosen subject area, known as a major. Thus, students of the Arts or
        Humanities are required to take some science courses, and vice versa. Normally, students are free to choose
        their particular electives from among a wide range of courses offered by their university, as long as the
        students possess the prerequisite knowledge to understand the subject matter being taught. An English major, for
        example, might also study one or two years of chemistry, biology or physics as well as mathematics and a foreign
        language.</p>

        <p>Elective courses are also offered in the third and fourth years of university, though the choice is more
        restrictive and will depend upon the particular major the student has chosen. For example, at the University of
        British Columbia, students intending to specialize in Sanskrit as part of a major in Asian language and culture
        will usually have to complete several Sanskrit and Hindustani or Punjabi courses during the first two years of
        university, as well as additional courses in other languages of India in the third and fourth years of study. In
        addition to these required courses, however, students would choose among several third- and fourth-year elective
        courses on topics not directly related to India, such as the history and culture of China, Japan or Indonesia.</p>

    <ul>
        <li>
            <h3>Attending course sessions.
            </h3>
        </li>
        <li>
            <h3>Reading and studying course readings assigned in the course syllabus.
            </h3>
        </li>
    </ul>
</div>
<!-- <footer></footer> -->