<!-- <header></header> -->
<div class="paragraph-desc-bx">
    <h3>Training</h3>
    <p>A resource is a source or supply from which a benefit is produced and that has some utility. Resources can
        broadly be
        classified upon their availability — they are classified into renewable and non-renewable resources. They can
        also be
        classified as actual and potential on the basis of the level of development and use, on the basis of origin they
        can be
        classified as biotic and abiotic, and on the basis of their distribution, as ubiquitous and localised (private,
        community-owned , natural and international resources). An item becomes a resource with time and developing
        technology.
        The benefits of resource utilization may include increased wealth, proper functioning of a system, or enhanced
        well-being. From a human perspective, a natural resource is anything obtained from the environment to satisfy
        human
        needs and wants. From a broader biological or ecological perspective, a resource satisfies the needs of a living
        organism (see biological resource).</p>
    <p>
        The concept of resources has been developed across many established areas of work, in economics, biology and
        ecology,
        computer science, management, and human resources for example - linked to the concepts of competition,
        sustainability,
        conservation, and stewardship. In application within human society, commercial or non-commercial factors require
        resource allocation through resource management.
    </p>

</div>
<!-- <footer></footer> -->