<div class="container" appDnd (fileDropped)="onFileDropped($event)" style="margin-top: 2em;">
    <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)" />
    <img src="assets/dnd/ic-upload-file.svg" alt="">
    <h3>Drag and drop file here</h3>
    <h3>or</h3>
    <label for="fileDropRef">Browse for file</label>
  </div>
  <div class="files-list">
    <div class="single-file" *ngFor="let file of files; let i = index">
      <img src="assets/dnd/ic-file.svg" width="45px" alt="file">
      <div class="info">
        <h4 class="name">
          {{ file?.name }}
        </h4>
        <p class="size">
          {{ formatBytes(file?.size) }}
        </p>
        <app-progress [progress]="file?.progress"></app-progress>
      </div>
      <img src="assets/dnd/ic-delete-file.svg" class="delete" width="20px" alt="file" (click)="deleteFile(i)">
    </div>
  </div>
<!-- <header></header> -->
<!-- <div class="paragraph-desc-bx">
    <h3>Typical employers of consultants</h3>
    <p>Most management consultants are employed by international consultancy firms, professional services firms or strategy
    sections of financial organisations such as accountants. Consultant firms can range from generalist consultants
    offering a wide range of services, to specialist consultants within the different business areas, such as strategy
    or IT. Consultants are contracted by organisations in all sectors seeking help and advice about business problems.</p>

    <p>Vacancies are advertised by careers services, in national newspapers, in relevant publications such as TARGETjobs
    Consulting, The Economist, People Management, Consulting Magazine and TARGETjobs Consulting online. Some
    consultancies recruit all year-round, but many have closing dates in November and December.</p>

    <h3>Qualifications and training required</h3>
    <p>A career in consulting is mostly open only to graduates. However, it is possible for school leavers who have a
    minimum of two years’ business experience to undertake entry-level qualifications with the Institute of Consulting
    (IC), which are valued by employers, although it may take you several years to qualify to a high enough level for
    employment.</p>

    <p>Graduates can have a degree in any discipline, although business, management, economics, mathematics or statistics
    can be advantageous for entry into some firms, and a 2.1 classification is usually required. However, some
    professional services firms have recently changed their entry criteria, making it not impossible to enter the
    profession with a 2.2. An MBA can lead to entry at a higher level, but normally only for candidates possessing
    several years of experience.</p>

    <p>Larger employers run vacation courses and placements which can give a useful insight into the profession.
    Competition for graduate vacancies is often fierce, so an internship can be a boost for your application. The
    closing date for many consulting internships is in February. In addition, gaining membership of the IC by
    undertaking their qualifications shows commitment and may aid your application.</p>
</div> -->
<!-- <footer></footer> -->
  