<div class="paragraph-desc-bx">
    <h3>The Internet of Things</h3>

    <p>The Internet of Things, or IoT, refers to the billions of physical devices around the world that are now connected
    to the internet, all collecting and sharing data. Thanks to the arrival of super-cheap computer chips and the
    ubiquity of wireless networks, it's possible to turn anything, from something as small as a pill to something as big
    as an aeroplane, into a part of the IoT. Connecting up all these different objects and adding sensors to them adds a
    level of digital intelligence to devices that would be otherwise dumb, enabling them to communicate real-time data
    without involving a human being. The Internet of Things is making the fabric of the world around us more smarter and
    more responsive, merging the digital and physical universes.</p>

    <li>The Internet of Things? It's really a giant robot and we don't know how to fix it</li>
    <br>

    <p>Pretty much any physical object can be transformed into an IoT device if it can be connected to the internet to be
    controlled or communicate information.</p>

    <p>A lightbulb that can be switched on using a smartphone app is an IoT device, as is a motion sensor or a smart
    thermostat in your office or a connected streetlight. An IoT device could be as fluffy as a child's toy or as
    serious as a driverless truck. Some larger objects may themselves be filled with many smaller IoT components, such
    as a jet engine that's now filled with thousands of sensors collecting and transmitting data back to make sure it is
    operating efficiently. At an even bigger scale, smart cities projects are filling entire regions with sensors to
    help us understand and control the environment.</p>

</div>