<div>
  <mdb-carousel class="carousel slide carousel-fade" [interval]="'500000000'" [animation]="'slide'">
    <mdb-carousel-item *ngFor="let screen of screensdata;">
      <div class="view w-100">
        <header class="heading"
          style="background-image:url('{{screen.background}}');background-size: cover;background-repeat: no-repeat;">
          <div class="heading-content">
            <h1 class="heading-title">
              <strong>{{screen.title}}</strong>
            </h1>
            <p class="heading-description">{{screen.subtitle}}</p>
          </div>
          <p class="heading-share">
            <a class="heading-share-button is-twitter" target="_blank">
              <img class="image-bx-new" src='{{screen.floater}}'>
            </a>
          </p>
        </header>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
</div>