/* You can add global styles to this file, and also import other style files */
.unique-orange-color {
    background-color: #ff6000 !important;
}

.footer-copyright-bx {
    overflow: hidden;
    color: darkseagreen;
    background: #e5e5e5;
    color: rgba(0, 0, 0, 0.6);
}

.footer-title-bx {
    color: rgba(0, 0, 0, 0.6) !important;
}

.font-weight-bold {
    font-weight: 400 !important;
}

.navbar .nav-item .nav-link {
    font-weight: 400 !important;
}

footer.page-footer a {
    color: #fff;
    font-weight: 400 !important;
}

.footer-w-100 {
    width: 100% !important;
}

.paragraph-desc-bx {
    padding: 70px;
    background-color: #ffc989;
}

@media only screen and (max-width: 768px) {


}