/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.unique-orange-color {
    background-color: #ff6000 !important;
}

.carousel .carousel-control-next-icon, .carousel .carousel-control-prev-icon {
    width: 5.25rem !important;
    height: 5.25rem !important;
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    transition: opacity 0.15s ease;
}

.footer-copyright-bx {
    overflow: hidden;
    color: darkseagreen;
    background: #e5e5e5;
    color: rgba(0, 0, 0, 0.6);
    z-index: 99;
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    background-color: darkgrey;
    color: white;
}

.footer-title-bx {
    color: rgba(0, 0, 0, 0.6) !important;
}

.font-weight-bold {
    font-weight: 400 !important;
}

.navbar .nav-item .nav-link {
    font-weight: 400 !important;
}

footer.page-footer a {
    color: #fff;
    font-weight: 400 !important;
}

.footer-w-100 {
    width: 100% !important;
}

.paragraph-desc-bx {
    padding: 70px;
    background-color: #ffc989;
}

@media only screen and (min-width: 200px) and (max-width: 767px)  {
    .carousel .carousel-control-next-icon, .carousel .carousel-control-prev-icon {
        width: 2.25rem !important;
        height: 2.25rem !important;
    }
    .footer-copyright-bx {
        position: relative;
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
