<div>
<mdb-carousel class="carousel slide carousel-fade" [interval]="'50000000'" [animation]="'slide'">
  <mdb-carousel-item>
      <div class="view w-100">
        <div class="d-block w-100 content-bg-bx" style="background-image:url('../../assets/bg7.jpg')" alt="First slide">
          <div class="content-items-bx">
            <div class="content-inner-bx">
              <div class="carousel-caption-custom-first">
                <h3 class="h3-responsive">Mobile and IoT Development</h3>
                <p class="subtitle-responsive">IoT app development is the process of building IoT apps or software which combine sensor data with machine learning technologies and predictive analytics to create smart and proactive user experiences.</p>
              </div>
              <div class="carousel-caption-custom-second">
                  <img class="slider-icon-images" src='../../assets/3.png'>
              </div>
              <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
            </div>
          </div>
        </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <div class="d-block w-100 content-bg-bx" style="background-image:url('../../assets/bg3.jpg')" alt="Second slide">
        <div class="content-items-bx">
          <div class="content-inner-bx">
            <div class="carousel-caption-custom-first">
              <h3 class="h3-responsive">AWS Cloud Application Development</h3>
              <p class="subtitle-responsive">The AWS Cloud Development Kit (AWS CDK) is an open source software development framework to model and provision your cloud application resources using familiar programming languages.</p>
            </div>
            <div class="carousel-caption-custom-second">
                <img class="slider-icon-images" src='../../assets/AwsCloud.png'>
            </div>
            <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
          </div>
        </div>
      </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <div class="d-block w-100 content-bg-bx" style="background-image:url('../../assets/bg10.jpg')" alt="Third slide">
        <div class="content-items-bx">
          <div class="content-inner-bx">
            <div class="carousel-caption-custom-first">
              <h3 class="h3-responsive">Angular 10 Development</h3>
              <p class="subtitle-responsive">Angular is a platform for building mobile and desktop web applications.</p>
            </div>
            <div class="carousel-caption-custom-second">
                <img class="slider-icon-images" src='../../assets/Angular.png'>
            </div>
            <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
          </div>
        </div>
      </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <div class="d-block w-100 content-bg-bx" style="background-image:url('../../assets/bg11.jpg')" alt="Forth slide">
        <div class="content-items-bx">
          <div class="content-inner-bx">
            <div class="carousel-caption-custom-first">
              <h3 class="h3-responsive">Node 12 Development</h3>
              <p class="subtitle-responsive">Node.js is an open-source, cross-platform, JavaScript runtime environment that executes JavaScript code outside a web browser.</p>
            </div>
            <div class="carousel-caption-custom-second">
                <img class="slider-icon-images" src='../../assets/Nodejs.png'>
            </div>
            <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
          </div>
        </div>
      </div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <div class="d-block w-100 content-bg-bx" style="background-image:url('../../assets/bg1.jpg')" alt="Fifth slide">
        <div class="content-items-bx">
          <div class="content-inner-bx">
            <div class="carousel-caption-custom-first">
              <h3 class="h3-responsive">Training</h3>
              <p class="subtitle-responsive">Training is teaching, or developing in oneself or others, any skills and knowledge or fitness that relate to specific useful competencies. Training has specific goals of improving one's capability, capacity, productivity and performance.</p>
              <!-- <p class="subtitle-responsive">Training refers to the teaching and learning activities carried on for the primary purpose of helping members of an organization acquire and apply the knowledge, skills, abilities, and attitudes needed by a particular job and organization.</p>-->
            </div>
            <div class="carousel-caption-custom-second">
                <img class="slider-icon-images" src='../../assets/Training.png'>
            </div> 
            <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
          </div>
        </div>
      </div>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
</div>